<!DOCTYPE html>
<html>
<head>
  <title>About Page</title>
</head>
<body style="background-color: teal">
<h1 style="text-align:center;background-color:Teal;color:gold;padding:10px;">About</h1>
<div style="text-align: center;background-color:gold;color:black;padding:5px;">
  <p>Looking to learn new skills using RoR. I've been enjoying the class so far</p>
  <p>Click on the following link to go back to the <%= link_to 'Home', root_path %> page</p>
</div>
</body>
</html>

