<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up now", "", class: "btn btn-info btn-lg btn-xlarge" %>
</div>



















<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <title>Welcome to my webpage</title>-->
<!--</head>-->
<!--<body style="background-color: teal">-->
<!--<h1 style="text-align:center;background-color:Teal;color:gold;padding:10px;">Welcome to my website!</h1>-->
<!--<section id="welcome">-->
<!--<div class="row">-->
<!--  <div class="col-sm-6">-->
<!--    <div style=text-align:center;background-color:gold;color:black;padding:5px;">-->
<!--  <p>This is a test website I am putting together for a Ruby on Rails Udemy class</p>-->
<!--  <p>Click on the following link to see my <%#= link_to 'About', about_path %> page</p>-->
<!--      <p>Check out my blog site! <%#= link_to 'Alpha Blog', articles_path %></p>-->


<!--      <p> Here is a random picture from my trip to the Amalfi Coast</p>-->
      <%#= image_tag "amalfi.png" %>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->